body{
    background: blue;
    height:100vh;
}
h1
{
   background-color: cornsilk;
   height: auto;
   width: fit-content;
   margin-left: 570px;
   margin-top: 4px;
   padding: 12px;
   border-radius: 30px;
   color:maroon;
    
}
#myButton
{

    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;

    
    
}
#mail
{
    background-color: chartreuse;
    width: 240px;
    height: auto;
    text-align: center;
    padding: 6px;
    font-size: 20px;
    color:crimson;
    font-weight:900;
    text-decoration: none;
    border-radius: 40px;
}
#myTable
{
    font-size: 28px;
    font-weight: 600;
}
.start
{
    height: 30px;
    width: 80px;
}
.end
{
    height: 30px;
    width: 80px;
}
